DJANGO_SECRET_KEY=secret_key
DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1

DATABASE_ENGINE=postgresql
DATABASE_NAME=db_name
DATABASE_USERNAME=db_user
DATABASE_PASSWORD=db_pass
DATABASE_HOST=postgres
DATABASE_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
