[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
drf-yasg = {extras = ["validation"], version = "*"}
psycopg = "*"
redis = {extras = ["hiredis"], version = "*"}
gunicorn = "*"
django-environ = "*"
pytest = "*"
pytest-django = "*"

[dev-packages]

[requires]
python_version = "3.13"
