[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
drf-yasg = {extras = ["validation"], version = "*"}
psycopg = "*"
redis = {extras = ["hiredis"], version = "*"}
gunicorn = "*"
django-environ = "*"
django-countries = {extras = ["pyuca"], version = "*"}
django-money = "*"

[dev-packages]
django-debug-toolbar = "*"
pytest = "*"
pytest-django = "*"
ipython = "*"
django-extensions = "*"

[requires]
python_version = "3.13"
